
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1488335722725'); /* IE9*/
  src: url('../font/iconfont.eot?t=1488335722725#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1488335722725') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1488335722725') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1488335722725#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-version:before { content: "\e60b"; }

.icon-erji3:before { content: "\e669"; }

.icon-iconsreach:before { content: "\e733"; }

.icon-mini:before { content: "\e65a"; }

.icon-bag:before { content: "\e6d6"; }

.icon-fwmacbook:before { content: "\e62c"; }

.icon-china:before { content: "\e668"; }

.icon-MacPro:before { content: "\e75d"; }

.icon-jixing:before { content: "\e61f"; }

.icon-AppleWatch:before { content: "\e67d"; }

.icon-imac:before { content: "\e61c"; }

.icon-shipping:before { content: "\e670"; }

.icon-pingguo:before { content: "\e63e"; }

