*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: "微软雅黑"
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    color: #000;
}
a:focus{
    outline: none;
}

nav{
    width: 100%;
    height: 4rem;
    background: #000;
}
nav div{
    width: 60%;
    margin:0 auto;
    line-height: 4rem;
    display: flex;
    justify-content:space-between; 
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -webkit-justify-content:space-between;
}
nav div a{
    color: #fff;
    font-size: 0.8rem;
}
nav div a:hover{
    text-decoration: none;
    color: #ccc;
}
/*图标导航*/
.tbnav{
    width: 100%;
    height: 100px;
    background:rgba(242,242,242,0.7);
    padding-bottom: 0.5vw;
}
.tbnav div{
    width: 50%;
    display: flex;
    /*margin:0 auto;*/
    justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -webkit-justify-content:space-between;
    margin-left: 40%;
}
.tbnav div p{
    padding-top: 0.5vw;
    line-height: 1.3rem;
    text-align: center;
}
.tbnav div p a{
    font-size: 0.5rem;
}
.tbnav div p a:hover{
    color:#0070c9;
    text-decoration: none;
}
.tbnav div p a:hover span{
    color: #000;
}
/*图标导航结束*/

/*轮播*/
.banner{
    width: 100%;
    height: 40vw;
    overflow: hidden;
    position: relative;
}
.banner>div{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
}
.banner>div a:hover{
    text-decoration: none;
}
.banner>div:nth-child(1){
    background: url('../images/iphone_banner1.jpg') no-repeat center center/100%;
    
}
.banner>div:nth-child(2){
    background: url('../images/watch_banner2.jpg') no-repeat center center/100%;
}

.banner>div:nth-child(2) img{
    margin-top: 100px;
}
.banner>div:nth-child(2) h2{
    margin-top: 525px;
    text-decoration: none;
    font-size: 40px;
}

.banner>div:nth-child(3){
    background: url('../images/macbook_banner3.jpg') no-repeat center 10vw/100%;
        
}
.banner div span{
    position: relative;
    top: 3rem;
    z-index: 5;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}
.banner div a{
    display: block;
    width: 100%;
    height: 100%;
}
/*.banner div img{
    margin-top: -10vw;
}
.banner>div:nth-child(3) img{
    margin-top:3vw;
}*/
.banner>div:nth-child(3) h1{
    margin-top: 2vw;
}


.banner ul{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 10px; 
    height: 4px;
    z-index: 5;
    display: flex;
    justify-content:center; 
}
.banner ul li{
    float: left;
    width: 5%;
    margin-left: 3rem;
    height:3px;
    background: #ccc;
}
.banner ul li p{
   /* background: red;*/
   /* width: 100%;*/
    height: 100%;
}
/*左右按钮*/
.banner>span{
    display: none;
    width: 5vw;
    height: 5vw;
    text-align: center;
    line-height: 5vw;
    border-radius: 3vw;
    position: absolute;
    top:50%;
    margin-top: -2.5vw;
    color: #fff;
    background: rgba(180,180,180,0.25);
    z-index: 6;
    font-size: 3rem;
}

/*轮播结束*/


.promos{
    display: flex;
    justify-content:space-between; 
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -webkit-justify-content:space-between;
}
.promos p{
    flex:1 1 24%;
    border:1px solid #fff;
}

.fotitle{
    background: #f2f2f2;
}
.fotitle p{
    width: 55%;
    margin:0 auto;
    font-size: 0.7rem;
    height: 3rem;
    padding:1rem 0;
    line-height: 3rem;
    color: #888;
    border-bottom: 1px solid #d6d6d6;
}
.fotitle p a{
    text-decoration: none;
}
/*底部*/
.footer{
    background: #f2f2f2;
    padding-bottom: 10px;
}

.footer .footmain{
    padding-bottom: 20px;
    width: 55%;
    margin:0 auto;
    display: flex;
    justify-content:space-between; 
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -webkit-justify-content:space-between;
}
.footer .footmain ul {
    margin-top:1rem;
}
.footer .footmain ul li h5{
    font-weight: 600;
}
.footer .footmain ul li a{
    font-size: 0.5rem;
}
.footer .moreway{
    width: 55%;
    font-size: 0.5rem;
    margin:0 auto;
    color: #888;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 0.8rem;
}
.footer .moreway a{
    color: #0070c9;
    font-size: 0.5rem;
}
.footer .link{
    height: 1.5rem;
    width: 56%;
    text-align: left;
    color: #888;
    margin:0 auto;
    font-size: 0.7rem;
}
.footer .link>div{
    font-size: 0.5rem;
    width: 45%;
    height: 1.5rem;
    line-height: 1.5rem;
    display: inline-block;
}
.footer .link div a{
    height: 15px;
    line-height: 15px;
    display: block;
    padding:0 5px;
    margin-top: 5px;
    float: left;
    font-size: 0.5rem;
    color: #888;
    border-right: 1px solid #d6d6d6;
}
.footer .link div:nth-child(3){
    width:8%;
}
.footer .link>div:nth-child(3) span{
    color: red;
    margin-right: 4px;
}
.footer .pls{
    width: 55%;
    font-size: 0.5rem;
    margin:1rem auto;
    color: #888;
}
.footer .pls a{
    font-size: 0.5rem;
    color: #888;
}


/*图片与文字居中*/
.macbody{
    text-align: center;
    overflow: hidden;
}
.macbody .macmg{
    position: relative;
    padding-top:100px;
    /*background-image:linear-gradient(to bottom,#fff,#eee);*/
}
.macbody .macmg h2{
    font-size: 5rem;
}
p.sping{
     margin-top: 4rem;
     color:#0070c9;
}
p.sping a{
    color:#0070c9;
    margin-left: 20px;
}
/*图片在右上 例子在ipad*/
.macbody .macmg .rtxt{
    position: relative;
    right:200px;
    z-index: 2;
}
.macbody .macmg .rimg{
    width: 100%;
    height: 100%;
    position: absolute;
    top:100px;
    left:-50%;
    z-index:1;
}
.macbody .macmg .rimg img{
    position: absolute;
    left:100%;
    
}
/*图片在左上*/
.macbody .macmg .ltxt{
    position: relative;
    right:-200px;
    z-index: 2;
}
.macbody .macmg .limg{
    width: 100%;
    height: 100%;
    position: absolute;
    top:100px;
    right: -50%;
    z-index:1;
}
.macbody .macmg .limg img{
    position: absolute;
    right: 100%;
    
}

/*免费送货*/
.macbody .macmg .free{
    width:60%;
    margin:0 auto;
    padding-top: 50px;
    display: flex;
    justify-content:space-around;
    -moz-justify-content:space-around;
    -o-justify-content:space-around;
    -webkit-justify-content:space-around;
}
.macbody .macmg .free .lf{
    flex:1 1 50%;
    text-align: center;
    margin-bottom: 60px;
}
.macbody .macmg .free .lf .pimg{
    padding-top: 15px;
    padding-bottom: 15px;
}

.macbody .macmg .free .lf p,.macbody .macmg .free .lf a{
    font-size: 0.8rem;
    line-height: 1.4rem;
}
.macbody .macmg .free .lf a{
    color: #0070c9;
}

/*iphone中间两张背景图*/

.mainbd{
    padding-top: 30px;
    padding-bottom: 50px;
}
.mainbd .twoimg{
    width: 70%;
    margin:0 auto;
    text-align: center;
    display: flex;
    justify-content:space-between;
    -moz-justify-content:space-between;
    -o-justify-content:space-between;
    -webkit-justify-content:space-between;
}
.mainbd .twoimg div{
    width: 48%;
    height: 650px;
    padding-top: 80px;
}

p.link,p.link a{
    color:#0070c9; 
    font-size: 15px;
}

/*watch单独的标题与链接*/
.txtlinkw{
    width: 70%;
    margin:50px auto;
    text-align: center;
    display: flex;
    justify-content:space-around;
    -moz-justify-content:space-around;
    -o-justify-content:space-around;
    -webkit-justify-content:space-around;
}
/*下面三张大图*/
.bill>div{
    margin-top:15px;
    text-align: center;
    color: #fff;
    padding-top: 80px;
}

.bill>div .billwp{
    position: relative;
    right: center;
}

.bill>div h1{
    font-size: 40px;
}
.bill>div p{
    font-size: 17px;
    margin-top: 1.5rem;
}
.bill>div a{
    color: #fff;
    margin-left:2rem; 
    font-size: 1.5rem;
    
    }